<ion-header>
  <ion-navbar color="primary">
    <ion-title>Audio Player</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ng-template >
    <div padding id="app-section" text-center>
      <ion-icon color="primary" name="musical-notes"></ion-icon>
      <h2 id="app-title">Audio Player</h2>
    </div>
  </ng-template>

  <ion-list *ngIf="files.length">
    <ion-list-header>Hello </ion-list-header>
    <ng-container *ngFor="let file of files; let i = index">
      <ion-item text-wrap (click)="openFile(file, i)">
        <ion-icon color="primary" item-start name="musical-note"></ion-icon>{{ file.name }}
        <p item-end *ngIf="currentFile.index === i">SELECTED </p>
        <ion-icon item-end name="play" *ngIf="currentFile.index !== i"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>

<ion-footer *ngIf="currentFile.file" [@showHide]="displayFooter" class="myColor">

    <ion-range min="0" color="light" [max]="state.durationSec" [FormControl]="seekbar" (ionFocus)="onSeekStart()" (ionBlur)="onSeekEnd($event)"
               name="seekbar">
      <ion-label slot="start" range-left>{{ state.time }}</ion-label>
      <ion-label slot="end" range-right>{{ state.duration }}</ion-label>
    </ion-range>




    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-start">
            <ion-icon name="shuffle" (click)="onIsShuffle(); toggleShuffle(isShuffle)" [ngClass]="{'isDisable': !isShuffle}"></ion-icon>            
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end" >
            <ion-icon name="repeat" (click)="onIsRepeat(); toggleClass(isRepeat)" [ngClass]="{'isDisable': !isRepeat}"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">

        <ion-col>
          <ion-button class="skip-btn" color="primary" [disabled]="isFirstPlaying()" (click)="previous()"><ion-icon name="skip-backward"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-center" >
          <!-- Play/Pause -->
          <ion-button class="play-pause-btn"  *ngIf="!state.playing" (click)="play()">
            <ion-icon name="play"></ion-icon>
          </ion-button>

          <ion-button class="play-pause-btn" *ngIf="!!state.playing" (click)="pause()">
            <ion-icon name="pause"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col class="ion-text-end" >
           <!-- Forwards -->
          <ion-button class="skip-btn" color="primary" [disabled]="isLastPlaying()" (click)="next()">
            <ion-icon name="skip-forward"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>


</ion-footer>
