<!-- <ion-header>
<ion-toolbar color="primary">
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <section *ngIf="songsToDownload.length > 0">
      <ion-item-divider>
        <ion-label>
          Available to Download
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let playlist of songsToDownload; let index = index" (click)="downloadSong(song, index)">
        <ion-label>{{ playlist.song.title }}</ion-label>
        <div class="get">Get</div>
      </ion-item>
    </section>
  </ion-list>
</ion-content>
 -->

 
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script> -->

  <ion-app>

    <ion-header translucent>
      <ion-toolbar>
        <ion-title>My Playlist</ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="toggleReorder()">Edit</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-content fullscreen>
      <ion-list>        
          <!-- <ion-reorder-group id="reorder" (ionItemReorder)="reorderItems($event)">           -->
          <ion-reorder-group id="reorder" (ionItemReorder)="reorderItems($event);">          
              <ion-item *ngFor="let playlist of songsToDownload; let index = index">
                <ion-icon name="play"></ion-icon>
                <ion-label>
                  {{ playlist.song.title }}
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
          </ion-reorder-group>
      </ion-list>
    </ion-content>
    
  </ion-app>
