 <ion-app>

    <ion-header translucent>
      <ion-toolbar>
        <ion-title>My Playlist</ion-title>
        <ion-buttons slot="primary">
          <!-- <ion-button (click)="toggleReorder()">Edit</ion-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-content fullscreen>
      <!-- <ion-list>
          <ion-reorder-group id="reorder" (ionItemReorder)="reorderItems($event);"  disabled="false"  >
              <ion-item *ngFor="let playlist of songsToDownload; let index = index">
                <ion-icon name="play"></ion-icon>
                <ion-label>
                  {{ playlist.song.title }}
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
          </ion-reorder-group>
      </ion-list> -->

      <ion-list>
        <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

          <ion-item *ngFor="let playlist of songsToDownload; let index = index" (click)="onClickDetailsPlayer(songsToDownload,index)" >
            <ion-icon name="musical-notes" style="margin-right:5px; "></ion-icon>
            <!-- <ion-icon name="play" (click)="playAudio(playlist.song.audioUrl)"></ion-icon>
            <ion-icon name="pause" (click)="stopAudio(playlist.song.audioUrl)"></ion-icon> -->
            <ion-label>
              {{ playlist.title }}
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>

        </ion-reorder-group>
      </ion-list>
      <ion-list text-center>
        <ion-button (click)="getListOrder()">
          Updated Reoder
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-app>
