<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <section *ngIf="songsToDownload.length > 0">
      <ion-item-divider>
        <ion-label>
          Available to Download
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let song of songsToDownload; let index = index" (click)="downloadSong(song, index)">
        <ion-label>{{ song.title }}</ion-label>
        <div class="get">Get</div>
      </ion-item>
    </section>
  </ion-list> -->

  <!-- <ion-list reorder="true">
    <ion-item *ngFor="let song of songsToDownload; let index = index">{{ song.title }}</ion-item>
  </ion-list> -->


  <section *ngIf="songsToDownload.length > 0">
      <ion-item-divider>
        <ion-label>
          Available to Download
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let song of songsToDownload; let index = index" >
        <ion-button (click)="savePlaylust(song, index)"><ion-icon name="musical-notes"></ion-icon></ion-button>
        <ion-label> {{ song.title }}</ion-label>
        <div class="get" (click)="downloadSong(song, index)">Get</div>
      </ion-item>
  </section>

</ion-content>
