<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button color="secondary" (click)="getSongs()">Add Song</ion-button>
    <ion-button color="secondary" (click)="playDownloadedSong()"><ion-icon slot="start" name="play-circle"></ion-icon>Play Song</ion-button> -->
    <section>
      <!-- <div id="img-background"> -->
      <img id="logo" src="/assets/logos/ShortDashboardLogoNoSub.png">
      <!-- </div> -->
      <div class="section-title">
        <div>{{currentDate | date: 'MMM dd, yyyy'}}</div>
        <div>{{ quote.Author }}</div>
      </div>
      <div id="body">
        <div><ion-label>{{ quote.Quote }}</ion-label></div>
      </div>
      <img id="signature" src="/assets/pics/SignatureFirstNameNoBackground.PNG">
      <!-- <ul>
        <li><span class="highlight">Available in this app</span> - New original Hilary Weeks song (not available anywhere else!)</li>
        <li><span class="highlight">Available in this app</span> - Instrumental track</li>
        <li>Custom song study to go deeper into the themes of the song</li>
        <li>Designed printable artwork featuring lyrics from the song</li>
        <li>Sheet music</li>
        <li>Private Facebook Group to connect with Hilary and other Live All In Members (Annual plans only)</li>
      </ul> -->
    </section>
</ion-content>
