 <ion-app>

    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Download</ion-title>
        <ion-buttons slot="primary">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-content fullscreen>

      <ion-list>
        <ion-reorder-group  disabled="false">

          <ion-item *ngFor="let playlist of songsToDownload; let index = index" (click)="onClickDetails(songsToDownload,index)" >
            <ion-icon name="musical-notes" style="margin-right:5px; "></ion-icon>
            <ion-label>
              {{ playlist.song.title }}
            </ion-label>
            
          </ion-item>

        </ion-reorder-group>
      </ion-list>
     
    </ion-content>
  </ion-app>
